/* Bootstrap Flatly theme styles
 *
 *


*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.promo-slide-container {
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:15px;
  line-height:1.428571429;
  color:#2c3e50;
}
.promo-slide-container .panel {
  margin-bottom:21px;
  background-color:#fff;
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05);
}
.promo-slide-container .panel-primary>.panel-heading {
  color:#fff;
  background-color:#2c3e50;
  border-color:#2c3e50;
}
.promo-slide-container .panel-primary {
  border-color:#2c3e50;
}
.promo-slide-container a {
  color:#18bc9c;
  background:transparent;
}
.promo-slide-container a:hover {
  text-decoration:underline;
}

*/

.promo-slide-container .panel-heading {
  padding:10px 15px;
  border-bottom:1px solid transparent;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
}
.promo-slide-container .panel-title {
  font-size:17px;
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:500;
  line-height:1.1;
  color:inherit;
}
.promo-slide-container .panel-body {
  padding:15px;
}

.promo-slide-container {
  padding:0;
  margin:0;
  position:fixed;
  bottom:0;
  right:0;
  width:400px; /* TODO: config option, with default */
  z-index:999999; /* we want this to be on top of all other elements */
  margin:0 5px 0 0; /* bump it out from the edge a bit */
}
.promo-slide-container .panel .panel-heading,
.promo-slide-container .panel .panel-body {
  /* this is for the animation */
  white-space:nowrap;
}
.promo-slide-container .panel .panel-heading {
  height:2.5em;
}
.promo-slide-container .panel .panel-body {
  height:4em;
}
.promo-slide-container .panel .panel-heading a.dismiss {
  float:right;
  font-size:1.5em;
  margin-top:-.5em;
  color: #ccc;
  text-decoration:none;
}
.promo-slide-container .panel .panel-heading a.dismiss:hover {
  color:#fff;
}
